.Orgs{
    flex: 4;
}
.OrgsTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.OrgsAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: #2d9499;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.OrgsContainer {
    display: flex;
    margin-top: 20px;
}

.OrgsShow {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.OrgsUpdate {
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
}

.OrgsShowTop {
    display: flex;
    align-items: center;
}

.OrgsShowImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.OrgsShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.OrgsShowUsername {
    font-weight: 600;
}

.OrgsShowUserTitle {
    font-weight: 300;
}

.OrgsShowBottom{
    margin-top: 20px;
}

.OrgsShowTitle {
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
}

.OrgsShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.OrgsShowIcon{
    font-size: 16px !important;
}

.OrgsShowInfoTitle{
    margin-left: 10px;
}

.OrgsUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.OrgsUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.OrgsUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.OrgsUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.OrgsUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.OrgsUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.OrgsUpdateUpload{
    display: flex;
    align-items: center;
}

.OrgsUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.OrgsUpdateIcon{
    cursor: pointer;
}

.OrgsUpdateButton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: #2d9499;
    color: white;
    font-weight: 600;
}