.container{
    display: flex;


}
.Sbutton{
    position: relative;
    border-radius: 5px;

    background-color: #f6650b;
    color: white;
    width: 110px;

}
.Dbutton{
    position: relative;
    border-radius: 5px;

    background-color: dodgerblue;
    color: white;
    width: 115px;
}

.text-linkOrg1 {
    text-decoration: none;
    color: black;
    margin-left: 0px;
}

.iconOrg1{
    font-size: xx-large;

    color: slategrey;
}
