.RegisterOrganisation{
    background-image: url("../RegisterOrg.png");
    height: calc(100vh - 65px);
    /*height: 100%;*/
    background-size: cover;
    background-position: center;
    object-fit: fill;
}
.regOrgContent{
    float: right;
    padding: 150px 150px;
}
.inputBasic {
    width: 300px;
    padding: 17px 25px;
    border-radius: 8px;
    border: none;
    margin-bottom: 7px;
    /*position: relative;*/
    /*left: 50%;*/
    /*transform: translate(-50%,0);*/
    background-color: white;
    height: 50px
}
.orgIcon{
    color: #4f9ccf;
}
.basicTopLine{
    color: white;
    font-size: large;
    padding-bottom: 10px;
}
.confirm{
    float: right;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.confirmWords{
    color: white;
}
.successReg{
    margin: auto;
    width: 50%;
    border: 5px solid #4f9ccf;
    padding: 100px;
}