.DashHeader{
    display: flex;
    position: relative;
    align-items: center;
}
.dashHeader{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 65px;
}
.topRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconsAndHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topBarIconContainer{
    cursor: pointer;
}
.topBarIconContainer > .MuiSvgIcon-root{
    color: #957b9e;
    font-size: xx-large;
}

.topBarIconContainer:hover > .MuiSvgIcon-root{
    color:#2e81f4;
}

