.usersOrg{
    flex: 4;
    padding: 5px;
}
.usersTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .usersAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: #2d9499;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }
  
  .usersOrgContainer {
    display: flex;
    margin-top: 20px;
  }
  
  .usersShow {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .usersUpdate {
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
  }
  
  .usersShowTop {
    display: flex;
    align-items: center;
  }
  
  .usersShowImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .usersShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .usersShowUsername {
    font-weight: 600;
  }
  
  .usersShowUserTitle {
    font-weight: 300;
  }
  
  .usersShowBottom{
      margin-top: 20px;
  }
  
  .usersShowTitle {
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
  }
  
  .usersShowInfo{
      display: flex;
      align-items: center;
      margin: 20px 0px;
      color: #444;
  }
  
  .usersShowIcon{
      font-size: 16px !important;
  }
  
  .usersShowInfoTitle{
      margin-left: 10px;
  }
  
  .usersUpdateTitle{
      font-size: 24px;
      font-weight: 600;
  }
  
  .usersUpdateForm{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  }
  
  .usersUpdateItem{
      display: flex;
      flex-direction: column;
      margin-top: 10px;
  }
  
  .usersUpdateItem>label{
      margin-bottom: 5px;
      font-size: 14px;
  }
  
  .usersUpdateInput{
      border: none;
      width: 250px;
      height: 30px;
      border-bottom: 1px solid gray;
  }
  
  .usersUpdateRight{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .usersUpdateUpload{
      display: flex;
      align-items: center;
  }
  
  .usersUpdateImg{
      width: 100px;
      height: 100px;
      border-radius: 10px;
      object-fit: cover;
      margin-right: 20px;
  }
  
  .usersUpdateIcon{
      cursor: pointer;
  }
  
  .usersUpdateButton{
      border-radius: 5px;
      border: none;
      padding: 5px;
      cursor: pointer;
      background-color: #2d9499;
      color: white;
      font-weight: 600;
      width: 100px;
  }