node_modules
/backend/target/classes/com/GiveaLot/givealot/Search/SearchServiceImpl.class
/backend/target/classes/com/GiveaLot/givealot/Certificate/dataclass/Certificate.class
/backend/target/classes/com/GiveaLot/givealot/Certificate/controller/CertificateController.class
/backend/target/classes/com/GiveaLot/givealot/Certificate/exceptions/CertificateException.class
/backend/target/classes/com/GiveaLot/givealot/Certificate/CertificateHelper.class
/backend/target/classes/com/GiveaLot/givealot/Certificate/repository/CertificateRepository.class
/backend/target/classes/com/GiveaLot/givealot/Certificate/CertificateService.class
/backend/target/classes/com/GiveaLot/givealot/Certificate/CertificateServiceImpl.class
/backend/target/classes/com/GiveaLot/givealot/Certificate/rri/createJSONRequest.class
/backend/target/classes/com/GiveaLot/givealot/Certificate/rri/createJSONResponse.class
/backend/target/classes/com/GiveaLot/givealot/Certificate/rri/createPDFCertificateRequest.class
/backend/target/classes/com/GiveaLot/givealot/Certificate/rri/createPDFCertificateResponse.class
/backend/target/classes/com/GiveaLot/givealot/Report/rri/createReportRequest.class
/backend/target/classes/com/GiveaLot/givealot/Report/rri/createReportResponse.class
/backend/target/classes/com/GiveaLot/givealot/Donation/dataclass/Donation.class
/backend/target/classes/com/GiveaLot/givealot/Donation/contoller/DonationController.class
/backend/target/classes/com/GiveaLot/givealot/Donation/DonationService.class
/backend/target/classes/com/GiveaLot/givealot/Donation/DonationServiceImpl.class
/backend/target/classes/com/GiveaLot/givealot/GivealotApplication.class
/backend/target/classes/com/GiveaLot/givealot/Search/exceptions/InvalidInputException.class
/backend/target/classes/com/GiveaLot/givealot/Certificate/exceptions/InvalidRequestException.class
/backend/target/classes/com/GiveaLot/givealot/Report/exceptions/InvalidRequestException.class
/backend/target/classes/com/GiveaLot/givealot/Certificate/dataclass/JSON.class
/backend/target/classes/com/GiveaLot/givealot/Certificate/exceptions/JSONException.class
/backend/target/classes/com/GiveaLot/givealot/Certificate/JSONHelper.class
/backend/target/classes/com/GiveaLot/givealot/Certificate/JSONService.class
/backend/target/classes/com/GiveaLot/givealot/Certificate/JSONServiceImpl.class
/backend/target/classes/com/GiveaLot/givealot/User/mockData/mockUsers.class
/backend/target/classes/com/GiveaLot/givealot/Certificate/NFT.class
/backend/target/classes/com/GiveaLot/givealot/Certificate/exceptions/NotAuthorizedException.class
/backend/target/classes/com/GiveaLot/givealot/Report/exceptions/NotAuthorizedException.class
/backend/target/classes/com/GiveaLot/givealot/Report/dataclass/Report.class
/backend/target/classes/com/GiveaLot/givealot/Report/controller/ReportController.class
/backend/target/classes/com/GiveaLot/givealot/Report/exceptions/ReportException.class
/backend/target/classes/com/GiveaLot/givealot/Report/ReportHelper.class
/backend/target/classes/com/GiveaLot/givealot/Report/repository/ReportRepository.class
/backend/target/classes/com/GiveaLot/givealot/Report/ReportService.class
/backend/target/classes/com/GiveaLot/givealot/Report/ReportServiceImpl.class
/backend/target/classes/com/GiveaLot/givealot/Search/exceptions/ResultNotFoundException.class
/backend/target/classes/com/GiveaLot/givealot/Search/dataclass/Search.class
/backend/target/classes/com/GiveaLot/givealot/Search/controller/SearchController.class
/backend/target/classes/com/GiveaLot/givealot/Search/rri/searchOrganisationRequest.class
/backend/target/classes/com/GiveaLot/givealot/Search/rri/searchOrganisationResponse.class
/backend/target/classes/com/GiveaLot/givealot/Search/SearchService.class
/backend/target/classes/com/GiveaLot/givealot/Report/rri/test.class
/backend/target/classes/com/GiveaLot/givealot/Report/exceptions/TypeException.class
/backend/target/classes/com/GiveaLot/givealot/User/dataclass/User.class
/backend/target/classes/com/GiveaLot/givealot/verification/dataclass/Verification.class
/backend/target/classes/com/GiveaLot/givealot/verification/controller/VerificationController.class
/backend/target/classes/com/GiveaLot/givealot/verification/VerificationService.class
/backend/target/classes/com/GiveaLot/givealot/verification/VerificationServiceImpl.class
/backend/target/classes/com/GiveaLot/givealot/Browse/rri/browseRequest.class
/backend/target/classes/com/GiveaLot/givealot/Browse/rri/browseResponse.class
/backend/target/classes/com/GiveaLot/givealot/Browse/BrowseService.class
/backend/target/classes/com/GiveaLot/givealot/Browse/BrowseServiceImp.class
/backend/target/classes/com/GiveaLot/givealot/Browse/controller/BrowseController.class
