.validate{
    flex: 4;
    background-color: #F0F2F7;
}
.buttonValid{
    color: #957b9e;
    border: 2px solid #957b9e;
}
.buttonValidView{
    color: white;
    background-color: #957b9e;
}
.valid{
    color: #957b9e;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.validateInfo{
    color: #957b9e;
    font-size: xx-large;
    margin-top: 1em;
    margin-left: 1em;
}
.validBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
}
.name{
    color: #957b9e;
    font-size: xx-large;
}