@media all and (min-width: 480px) {
  Body {
    text-align: center;
  }

  .form {
    padding: 25px 700px;
    justify-content: center;

    text-align: center;
    margin-top: 150px;
  }
  .control {
    width: 400px;
    padding: 25px 25px;
    margin: 5px;
    /*max-width: 320px;*/
    border-radius: 24px;
    border-color: rgba(48, 48, 48, 1);
  }

  .button {
    background-color: #94f8b9;
    width: 340px;
    padding: 15px 85px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
  }
}
