.Adminheader{
    width: 100% ;
    height: 65px;
    margin-top: 0;
}
/* .imageDiv{
    height: 65px;
    margin-top: 0;
} */
.imageAdmin{
    height: 65px;
}
.mainBodyAdmin{
    display: flex;
    background-color: lightgrey;
    width: 100%;
}

.sidebar{
    background-color: #2d9499;
    border: solid 1px black;
    padding: 58px 5px;
    flex: 0.1;
}
.card{
    height: 50px !important;
    width: 200px !important;
    padding: 10px 30px;
}

.Cards{
    display: flex;
}
.cardItems{
    display: flex;
}
.adminDashboard{
    background-color: lightgrey;
    width: 100%;
}

.text-link {
    text-decoration: none;
    color:  white;
}

.icon{
    font-size: xx-large;
    color: white;
} 

.chartArea{
    width: 700px ;
    /* height: 500px !important; */
    position: absolute;
    left: 400px;
    top: 220px;
}

