.header__input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
    /* position: absolute;
    left: 20rem;
    top: 300px;
    width: 30%; */
}


.header__input > input{
    border: none;
    background-color: transparent;
    outline-width: 0;
}