.Adminheader{
    width: 100% ;
    height: 70px;
    margin-top: 0;
}
.mainBody{
    display: flex;
}
.Adminsidebar{
    position: absolute;
    top: 110px;
    left: 0;
}
.sidebar{
    background-color: #2d9499;
    border: solid 1px black;
    height: 100%;
    padding: 25px 10px;
    flex: 0.35;
}
.Adminbody{
    position: absolute;
    left: 280px;
    top: 110px;
    background-color: #2d9499;
}
.cards{
    display: flex;
    padding: 5px 30px;
    flex: 0.35;
}

