.Adminheader{
    width: 100% ;
    height: 70px;
    margin-top: 0;
}
.mainBody{
    display: flex;
}

.sidebar{
    background-color: #2d9499;
    border: solid 1px black;
    padding: 58px 5px;
    flex: 0.15;
}
.cards{
    width: 150px !important;
    height: 50px;
    padding: 10px 30px;
    width: 200px !important;
    height: 50px;
}

.Cards{
    display: flex;
}
.cardItems{
    display: flex;
}
.adminDashboard{
    background-color: lightgrey;
    width: 100%;
}
.image{
    height: 65px;
}
.text-link {
    text-decoration: none;
    color:  white;
}

.icon{
    font-size: xx-large;
    color: white;
} 

.chartArea{
    width: 700px ;
    /* height: 500px !important; */
    position: absolute;
    left: 400px;
    top: 220px;
}

