.cards{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
    overflow: auto;
    flex-direction: row;
}

/* .chart{
    display: flex;
} */
