/*.todos{
    flex: 4;
}*/

.todo{
    flex: 4;
    margin-left: 10px;
}
.smooth-dnd-container.horizontal {
    background-color: #ffffff;
}
.eckDVx {
    background-color: #ffffff !important;
    width: 100% !important;
    height: 100% !important;
}