/* For Desktop View */
@media screen and (min-width: 1024px) {
  #browse_body {
    height: 85vh;
    width: 90vw;
    position: relative;
    left: 50%;
    top: 15px;
    transform: translate(-50%, 0);
  }
  #browseNavSection {
    background-color: #747397;
    display: flex;
    position: relative;
    flex-direction: row;
    height: 90px;
  }

  #browseNavSection > p {
    position: absolute;
    left: 50%;

    transform: translate(-50%, 24px);
    color: white;
    font-size: 24px;
  }

  #browseLogo {
    width: 200px;
    height: 80px;
    position: relative;
    left: 5px;
  }

  #browse_search_container {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: row;
  }

  #browse_search_container > img {
    cursor: pointer;
    width: 40px;
    margin-left: 10px;
    color: #747397;
  }

  #browse_search_input {
    border-radius: 13px;
    border: 2px solid #747397;
    height: 35px;
    width: 200px;
    outline: none;
    padding-left: 5px;
  }

  #browse_body_main {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 50px;
  }

  #browse_filters {
    width: 200px;
    height: 85vh;
    position: relative;
  }

  #browse_organisations {
    width: 70vw;
    height: 85vh;
    overflow-x: scroll;
  }

  #browse_organisations::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  #browse_organisations::-webkit-scrollbar-track {
    background: #f1f1f100;
  }

  /* Handle */
  #browse_organisations::-webkit-scrollbar-thumb {
    background: #747397;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.719);
  }

  #browse_filters_container {
    border: 1px solid #747397;
    display: flex;
    flex-direction: column;
    padding: 0px 0 10px 10px;
    border-radius: 10px;
    left: 10px;
    position: absolute;
    min-width: 150px;
  }

  .browse_filter_sections > p {
    font-weight: bold;
    color: #747397;
  }

  .browse_filter_sections > label {
    font-size: 12px;
    position: relative;
    top: -2px;
    padding-left: 5px;
  }

  #default_organisations {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    transition: all 0.5s;
    position: relative;
    top: 30px;
  }

  #default_organisations:hover {
    transition: all 0.5s;
    overflow-x: scroll;
  }

  #default_organisations::-webkit-scrollbar {
    height: 5px;
  }

  /* Track */
  #default_organisations::-webkit-scrollbar-track {
    background: #f1f1f100;
  }

  /* Handle */
  #default_organisations::-webkit-scrollbar-thumb {
    background: #747397;
  }

  .browse_sector,
  .recommended_section {
    margin: 0 10px;
  }

  .browse_sector_organisations_container {
    min-width: 400px !important;
  }

  .browse_sector_organisations_container:hover {
    overflow-y: scroll;
  }
  /* width */
  .browse_sector_organisations_container::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  .browse_sector_organisations_container::-webkit-scrollbar-track {
    background: #f1f1f100;
  }

  /* Handle */
  .browse_sector_organisations_container::-webkit-scrollbar-thumb {
    background: #747397;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.719);
  }

  /*  .browse_sector_organisations_container::-webkit-scrollbar {
    width: 20px;
  } */

  /* Hide scrollbar for IE, Edge and Firefox */
  .browse_sector_organisations_container {
    /* -ms-overflow-style: none;  
    scrollbar-width: none; */
  }

  .browse_sector_organisations_container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 350px;
    padding: 5px;
  }

  .recommended_organisations_container {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    max-height: 350px;
    padding: 5px;
  }

  /* width */
  .recommended_organisations_container::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  /* Track */
  .recommended_organisations_container::-webkit-scrollbar-track {
    background: #f1f1f100;
  }

  /* Handle */
  .recommended_organisations_container::-webkit-scrollbar-thumb {
    background: #747397;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.719);
  }

  .browse_sector_name {
    font-size: 10px;
    margin-bottom: 10px;
    background-color: #747397b6;
    display: inline-block;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
  }

  .sector_organisation {
    display: flex;
    flex-direction: row;
    min-width: 320px !important;

    margin-bottom: 8px;
  }

  .sector_organisation > img {
    width: 100px;
    height: 80px;
    border-radius: 12px;
    border: 1px solid #747397;
    cursor: pointer;
  }

  .sector_organisation_meta {
    margin-left: 10px;
  }

  .sector_organisation_title {
    font-size: 12px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    color: #525252;
  }

  .sector_organisation_descr {
    transform: translateY(5px);
    font-size: 10px;
    max-width: 240px;
  }
  .sector_organisation_other {
    font-size: 9px;
    transform: translateY(10px);
  }

  .sector_organisation_level {
    color: #747397;
    font-weight: bold;
  }

  .recommended_organisations_organisation_sector {
    text-decoration: underline;
  }
}

/* For Desktop View - 1440p */
@media screen and (min-width: 1440px) {
}

/* For Desktop View - ultrawide */

@media screen and (min-device-width: 2560px) and (min-device-height: 1600px) {
}

@media screen and (min-device-width: 1920px) and (min-device-height: 1080px) {
}

@media screen and (min-device-width: 2560px) and (min-device-height: 1080px) {
}
