.report{

}

.header{
    background-color: #e3e3e3;
    border-radius: 5px;
    display: flex;
    flex-basis: 25%;
    flex-grow: 0;

}

.non{
    margin: 60px;
    position: absolute;
    left: 500px;
    font-family: sans-serif;
    color: #515151;
    display: flex;
}
.hidden{
    color: white;
}



.accordion{
    margin: 10px;
}

.iconReport{

    color: #91d1a8;
}

.AppealButton{
    border-radius: 5px;

    background-color: #f6650b;
    color: white;
    width: 60px;

}