.organisations{
    flex: 4;
    background-color: #F0F2F7;
}

.OrgSearch{
    float: right;
    padding: 0.9em;
}
.headerInputOrg{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 999px;
}
.headerInputOrg > input{
    border: none !important;
    background-color: transparent;
    outline-width: 0;
}

.OrgAdd{
    display: flex;
    padding-top: 6em;
    padding-left: 6em;
    padding-bottom: 2em;
    cursor: pointer;
}
.OrgAdd > .MuiSvgIcon-root{
    color: #0F61A7;
}
.OrgBody{
    display: flex;
}
.bodyItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 2em;
    cursor: pointer;
    background-color: #0F61A7;
    color: white;
    display: flex;
    flex-direction: column;
}
.cardHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bodyButton{
    justify-content: flex-end;
    align-self: flex-end;
}
.level{
    border: 1px solid black;
    background-color: transparent;
    color: black;
    padding: 10px ;
    cursor: pointer;
    border-radius: 50%;
}
.levelNumber{
    border-color: white;
    color: white;
}

.btn {
    border: 1px solid black;
    background-color: transparent;
    color: black;
    padding: 5px 5px;
    cursor: pointer;
}

.manageButton{
    border-color: white;
    color: white;
}

/*////////////////////////////////////////////////*/
.modalPop {
    font-size: 12px;
    float: right;
    width: 500px;
    height: 100%;
    background-color: #F0F2F7;
    color: black;
}
.modalPop > .headerPop {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modalPop > .contentPop {
    width: 100%;
    padding: 10px 5px;
}
.modalPop > .actions {
    margin: auto;
}
.modalPop > .actions {
    width: 100%;
    padding: 10px 5px;
    text-align: center;
}
.modalPop > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
    color: red;
}
