.organisations{
    flex: 4;
    background-color: #F0F2F7;
}

.OrgSearch{
    float: right;
    padding: 0.9em;
}
.headerInputOrg{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 999px;
}
.headerInputOrg > input{
    border: none !important;
    background-color: transparent;
    outline-width: 0;
}

.OrgAdd{
    display: flex;
    padding-top: 6em;
    padding-left: 6em;
    padding-bottom: 2em;
    cursor: pointer;
}
.OrgAdd > .MuiSvgIcon-root{
    color: #0F61A7;
}
.OrgBody{
    display: flex;
}
.bodyItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 2em;
    cursor: pointer;
    background-color: #0F61A7;
    color: white;
    display: flex;
    flex-direction: column;
}
.cardHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bodyButton{
    justify-content: flex-end;
    align-self: flex-end;
}
.level{
    border: 1px solid black;
    background-color: transparent;
    color: black;
    padding: 10px ;
    cursor: pointer;
    border-radius: 50%;
}
.levelNumber{
    border-color: white;
    color: white;
}

.btn {
    border: 1px solid black;
    background-color: transparent;
    color: black;
    padding: 5px 5px;
    cursor: pointer;
}

.manageButton{
    border-color: white;
    color: white;
}

.bodyInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bodyLeft{
    padding: 1.5em;
}
.bodyRight{
    padding: 1.5em;
}
.manageButton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonRemove{
    color: white;
    background-color: black;
    padding: 0.5em;
    width: 100px;
    border-radius: 20px;
}
.bodyRightContent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.OrganisationsDash{
    flex: 4;
    background-color: #F0F2F7;

}
.table{
    padding: 0.6em;
    height: 100%;
    width: 100%;
}
.UsersDash{
    flex: 4;
    background-color: #F0F2F7;
}
.OrgListEdits{
    color: white;
    background-color: #3bb077;
    width: 50px;
    /*padding: 10px 10px;*/
    border-radius: 25px;
}
.MuiDataGrid-row.Mui-odd {
    background-color: white;
}

.org{
    flex: 4;
    background-color: #F0F2F7;
}
.OrgTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.OrgAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: #2d9499;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.OrgContainer {
    display: flex;
    margin-top: 20px;
}

.OrgShow {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.OrgUpdate {
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
}

.OrgShowTop {
    display: flex;
    align-items: center;
}

.OrgShowImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.OrgShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.OrgShowUsername {
    font-weight: 600;
}

.OrgShowUserTitle {
    font-weight: 300;
}

.OrgShowBottom{
    margin-top: 20px;
}

.OrgShowTitle {
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
}

.OrgShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.OrgShowIcon{
    font-size: 16px !important;
}

.OrgShowInfoTitle{
    margin-left: 10px;
}

.OrgUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.OrgUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.OrgUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.OrgUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.OrgUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.OrgUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.OrgUpdateUpload{
    display: flex;
    align-items: center;
}

.OrgUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.OrgUpdateIcon{
    cursor: pointer;
}

.OrgUpdateButton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: #2d9499;
    color: white;
    font-weight: 600;
    width: 10em;
}
.userUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}
.OrgUpdateLeft{
    display: flex;
    flex-direction: column;
}
/*.smooth-dnd-container.horizontal{*/
/*    background-color: #3bb077;*/
/*}*/
.smooth-dnd-container.horizontal{
    background-color: #F0F2F7;
}
.sc-jSgvzq eHFaPw react-trello-board{
    background-color: #F0F2F7;
}
eHFaPw {
    background-color: #F0F2F7 !important;

}