.sidebar{
    flex: 1;
    /*height: 100vh;*/
    height: calc(100vh - 4.375em);
    position: sticky;
}
.sidebarWrapper{
    color: black;
}
.sidebarMenu{
    margin-bottom: 0.7em;
}
.sidebarList{
    list-style: none;
    padding: 0.8em;
}
.sidebarListItem{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 0.9375em;
    padding: 0.8em;
}
.active{
    background-color: #F0F2F7;
    color: black;
    border-radius: 5px;
}