body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*body {*/
/*    font-family: "Poppins", sans-serif;*/
/*}*/

/*login and registration*/
/*Api that gets all users and organisations*/
/*api to add an organisation*/
/*api to get a particular organisation*/
/*api to add tasks on the todo*/
/*api to log a report*/
/*api to add the organisation image to their gallery*/
/*api to save events on the calendar*/
/*login and registration*/
/*api to query the certificate*/