
/* recommended styles*/

.meta-data-container
{
    display: flex;
    flex-direction: row;

}
.meta-data-container > img
{
    width: 13px;
    height: 13px;
    position: relative;
    top: 2px;
}

.recommended-organisation
{
    margin: 0 5px;
    padding: 5px;
    border-radius: 3px;
    background-color: #eff1f2b6;
    cursor: pointer;
}

.recommended-container
{
    display: flex;
    flex-direction: column;

    width: 880px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 20px 0;
}

.sector-recommended {
    font-size: 8px;
    color: #515151;
    text-transform: capitalize;
    font-weight: bolder;
    margin-top: 3px;
}