.todos{
    margin-top: 70px;
    margin-left: 20px;
}
.smooth-dnd-container.horizontal {
    background-color: #ffffff;
}
.eckDVx {
    background-color: #ffffff !important;
    width: 100% !important;
    height: 100% !important;
}