.RegisterOrganisation{
    background-image: url("RegisterOrg.png");
    height: calc(100vh - 65px);
    background-size: cover;
    background-position: center;
    object-fit: fill;
}
.regOrgContent{
    float: right;
    padding: 150px 150px;
}