.NGOs_made_safer_for_you {
    left: 900px;
    top: 230px;
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(255,255,255,1);
}

.orgs{
    background-color: white !important;
    position: absolute;
    left: 900px;
    top: 300px;
    width: 300px;
    justify-content: space-evenly;
}
.user{
    background-color: white !important;
    position: absolute;
    left: 900px;
    top: 370px;
    width: 300px;
}

#Already_have_an_account_Log_in {
    left: 900px;
    top: 430px;
    position: absolute;
    overflow: visible;
    width: 396px;
    cursor: pointer;
    /* text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 26px; */
    color: rgba(255,255,255,1);
}
#By_signing_up_you_agree_to_Giv {
    left: 900px;
    top: 450px;
    position: absolute;
    overflow: visible;
    width: 529px;
    /* white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 22px; */
    color: rgba(255,255,255,1);
}


.header{
    text-align: left;
    background-color: white;



}

#ID{
    width: 100%;
    height: auto;
}
.image{
    width: 220px;
    height: 70px;

}
.container {

    align-content: center;
    background-image: url("imagesRegister/back.png");
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    background-position: center;
;

}
.top{
    text-align: left;
    padding: 0px 15px;
    font-family: sans-serif;
    color: white;
}
.form{

    width: 300px;
    margin-top: 90px;
    float: right;

}
.button {
    background-color: #2386c2;
    width: 120px;
    padding: 4px 10px;
    font-size: 17px;
    font-family: Segoe UI;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
}

.control {
    width: 230px;
    padding: 10px 25px;
    margin: 5px;
    /*max-width: 320px;*/
    border-radius: 8px;
    /*border-color: rgba(48, 48, 48, 1);*/
}

