*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;

}

.NGOs_made_safer_for_you {
    left: 900px;
    top: 100px;
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(255,255,255,1);
}

.orgs{
    background-color: white !important;
    position: absolute;
    left: 900px;
    top: 180px;
    width: 300px;
    border-radius: 10px;
    
}
.icon{
    margin-right: 15px;
}


.user{
    background-color: white !important;
    position: absolute;
    left: 900px;
    top: 250px;
    width: 300px;
    border-radius: 10px;
}

#Already_have_an_account_Log_in {
    left: 900px;
    top: 310px;
    position: absolute;
    overflow: visible;
    width: 396px;
    cursor: pointer;
    color: rgba(255,255,255,1);
}
#By_signing_up_you_agree_to_Giv {
    left: 900px;
    top: 350px;
    position: absolute;
    overflow: visible;
    width: 529px;
    color: rgba(255,255,255,1);
}


*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    border: none;

}
body{
    overflow: hidden;
}



.header{
    text-align: left;
    background-color: white;
    height: 70px;
}

#ID{
    width: 100%;
    height: auto;
}
.image{
    width: 220px;
    height: 70px;

}
.container {

    align-content: center;
    background-image: url("imagesRegister/back.png");
    position: relative;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: none;



}

.gradientOverlay{

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    height: 100vh;
    width: 100%;
    position: absolute;
    border: none;
}
.top{
    position: relative;
    left: -16px;
    padding: 0px 15px;
    font-family: sans-serif;
    color: white;
    margin-bottom: 35px;


}

/* .button {
    background-color: #2386c2;
    width: 122px;
    padding: 7px 10px;
    font-size: 17px;
    font-family: Segoe UI;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    margin-top: 25px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);

}

.control {
    width: 300px;
    padding: 17px 25px;
    border-radius: 8px;
    border: none;
    margin-bottom: 7px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);

} */

.backArrow{
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 10;
}

.backArrow > .MuiSvgIcon-root{
    color: white;
    cursor: pointer;
    font-size: 3em;
}
