.RegisterUserBody{
    flex: 4;
}
.RegisterUserContainer{
    background-image: url("RegisterUser.png");
    height: calc(100vh - 65px);
    background-size: cover;
    background-position: center;
    object-fit: fill;
}
.RegisterUserContent{
    float: right;
    padding: 150px 150px;
}
.topLine{
    color: white;
    font-size: large;
    padding-bottom: 10px;
}
/*.gradientOverlay{*/
/*    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));*/
/*    height: calc(100vh - 65px);*/
/*    width: 100%;*/
/*    border: none;*/
/*}*/
.RegisterUserinput {
    width: 300px;
    padding: 17px 25px;
    border-radius: 8px;
    border: none;
    margin-bottom: 7px;
    /*position: relative;*/
    /*left: 50%;*/
    /*transform: translate(-50%,0);*/
    background-color: white;
    height: 50px
}
.RegisterUserbutton {
    background-color: #2386c2;
    width: 122px;
    padding: 7px 10px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    margin-top: 25px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}
.RegisterUserbutton:disabled {
    opacity: 0.5;
}
