*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    border: none;

}
body{
    overflow: hidden;
}



.header1{
    text-align: left;
    background-color: white;
}

#ID1{
    width: 100%;
    height: auto;
}
.image1{
    width: 220px;
    height: 70px;

}
.container1 {

    align-content: center;
    background-image: url("imagesRegister/back.png");
    position: relative;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: none;



}

.gradientOverlay1{

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    height: 100vh;
    width: 100%;
    position: absolute;
    border: none;
}
.top1{
    position: relative;
    left: -16px;
    padding: 0px 15px;
    font-family: sans-serif;
    color: white;
    margin-bottom: 35px;


}
.form1{


    margin-top: 90px;
    z-index: 10;
    position: absolute;
    right: 150px;




}
.button1 {
    background-color: #2386c2;
    width: 122px;
    padding: 7px 10px;
    font-size: 17px;
    font-family: Segoe UI;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    margin-top: 25px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);

}

.input {
    width: 300px;
    padding: 17px 25px;
    border-radius: 8px;
    border: none;
    margin-bottom: 7px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);

}
