.sidebarOrg{
    flex: 1;
    height: calc(100vh - 65px);
    background-color: #2d9499;
    /* position: fixed; */
    position: sticky;
    top: 65px;
}
.sidebarWrapperOrg{
    padding: 20px;
    color: white;
}
.sidebarMenuOrg{
    margin-bottom: 10px;
}
.sidebarListOrg{
    list-style: none;
    padding: 5px;
}
.sidebarListItemOrg{
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.sidebarListItemOrg.active,
.sidebarListItemOrg:hover {
  background-color: #4fa0a3;
}

.sidebarIconOrg{
    margin-right: 5px;
    font-size: 20px !important;
}
